.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgb(104, 90, 90);
}
.form, .register-form, .login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form{
  padding: 5rem;
  border: 2px solid wheat;
  border-radius: 10px;
  margin: 0.5rem;
}
label{
  text-align: left;
  padding: 0.25rem 0;
}
input{
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}
button{
  border: none;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  margin: 0.5rem;
}
.link-btn{
  border: none;
  color: rgb(48, 44, 44);
  text-decoration: underline;
}